# Fixing the warning:
# npm WARN lifecycle The node binary used for scripts is {...}/node but npm is using /usr/local/bin/node itself.
# Use the `--scripts-prepend-node-path` option to include the path for the node binary npm was executed with.
scripts-prepend-node-path=true
# https://docs.npmjs.com/using-private-packages-in-a-ci-cd-workflow#set-the-token-as-an-environment-variable-on-the-cicd-server
//npm.deity.io/:_authToken=${NPM_TOKEN}
@deity:registry=https://npm.deity.io/
