@import '../../css/mixins';

.root {
  position: relative;
  background: #f8faf9;
  border-radius: 6px;
  border: 1px solid rgba(2, 44, 15, 0.08);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin: 1rem 0 2rem;

  ul[role='tablist'] {
    position: absolute;
    top: 0;
    right: 0;
    margin-bottom: 0;

    & + div {
      margin-top: 0 !important;
    }
  }

  li[role='tab'] {
    border: 2px solid transparent;
  }

  div[role='tabpanel'] {
    padding: 8px;
  }

  .header {
    min-height: 49px;
    background: #fbfdfc;
    border-bottom: 1px solid rgba(2, 44, 15, 0.08);
    padding: 8px 12px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    .title {
      font-weight: 400;
      font-size: 13px;
      line-height: 32px;
      color: #111c18;
    }

    .packageName {
      display: inline-block;
      border-radius: 6px;
      background: rgba(0, 56, 37, 0.05);
      padding: 4px 8px;
      color: rgba(0, 10, 6, 0.58);
    }

    & + div {
      margin-bottom: 0;
    }
  }
}

.item {
  border: 1px solid rgba(2, 44, 15, 0.08);
  border-radius: 6px;
  padding: 16px 12px;
  margin-bottom: 4px;
  background: #fff;
  color: #111c18;

  .header {
    min-height: 24px;
    padding: 0;
    background: #fff;
    border: 0;
    letter-spacing: -0.01em;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .content {
    display: flex;
  }

  .description {
    padding: 4px 60px 0 32px;
    font-size: 13px;
    line-height: 18.2px;
    color: rgba(1, 30, 17, 0.24);

    a {
      text-decoration: underline;
      color: #111c18;
    }
  }

  .hiddenDescription {
    max-height: 18px;
    overflow: hidden;
  }

  .toggleButton {
    display: inline-block;
    color: rgba(0, 10, 6, 0.58);
    font-size: 14px;
    line-height: 1.5em;
    text-decoration-line: underline;
    margin-top: 0.5rem;
    cursor: pointer;
  }
}

.icon {
  flex-basis: 24px;
  margin-right: 8px;
}

.badge {
  border-width: 1px;
  border-style: solid;
  border-color: red;
  border-radius: 40px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding: 2px 6px;
  margin-left: 4px;

  &.deprecated {
    border-color: #c2c9c6;
    color: #c2c9c6;
  }

  &.bugfix {
    border-color: #30a46c;
    color: #30a46c;
  }

  &.improvement {
    border-color: #0091ff;
    color: #0091ff;
  }

  &.feature {
    border-color: #6e56cf;
    color: #6e56cf;
  }

  &.hotfix,
  &.breaking {
    border-color: #f76808;
    color: #f76808;
  }
}

@include dark-mode {
  .root {
    background: rgba(255, 255, 255, 0.04);
    color: #fff;

    li[role='tab'] {
      background: rgba(1, 167, 54, 0.13);
      color: #fff;
      border: 2px solid transparent;

      &[aria-selected='true'] {
        color: var(--ifm-color-primary);
        border: 2px solid var(--ifm-color-primary);
      }
    }

    .title,
    .description,
    .toggleButton {
      color: #fff;
    }

    .header {
      background: transparent;
      color: #fff;
    }

    .item {
      background: var(--ifm-darkmode-bg);
      color: #fff;
    }
  }
}
