.alert {
  --ifm-alert-border-width: 0;
  --ifm-alert-border-radius: 9px;
  --ifm-alert-padding-vertical: 14px;
  --ifm-alert-padding-horizontal: 16px;
  --ifm-alert-border-left-width: 0;
  --ifm-p-color: #6e56cf;
  --ifm-alert-background-color: rgba(46, 2, 242, 0.09);
  box-shadow: none;
  color: #6e56cf;

  p {
    font-size: 13px;
    line-height: 18.2px;
  }
}
