.badge {
  color: var(--ifm-color-secondary);
  border: 2px solid var(--ifm-color-secondary);
  padding: 0.25rem 0.5rem;
  background: none;
  border-radius: 2rem;
  font-size: 0.875rem;
  font-weight: 500;
}
