.badge {
  color: var(--ifm-color-primary);
  border: 1.5px solid var(--ifm-color-primary);
  padding: 0.25rem 0.5rem;
  background: none;
  border-radius: 2rem;
  font-size: 0.8125rem;
  line-height: 12px;
  font-weight: 500;
}
