.breadcrumbs {
  --ifm-breadcrumbs-font-size: 0.875rem;
  --ifm-breadcrumbs-color: #000f0975;
  --ifm-breadcrumbs-color-active: --ifm-color-secondary;
  --ifm-breadcrumb-spacing: 0;
  margin-top: 0.95rem;
  margin-bottom: 5.625rem;

  .breadcrumbHomeIcon_src-theme-DocBreadcrumbs-Items-Home-styles-module {
    top: 4px;
    width: 15px;
    height: 15px;
  }

  &__homeLink {
    padding-left: 5px;
  }

  &__link {
    font-size: 0.875rem;
    color: var(--ifm-breadcrumbs-color);

    &--active {
      color: var(--ifm-breadcrumbs-color-active);
    }
  }

  &__item {
    font-size: var(--ifm-breadcrumbs-font-size);

    &:not(:last-child):after {
      width: 8px;
    }

    .breadcrumbs__link {
      background: none;
    }
  }
}

@include dark-mode {
  .breadcrumbs__link {
    color: #fff;
  }
}
