code {
  
  border: 0px solid rgba(2, 44, 15, 0.08);
  color: var(--ifm-menu-color);
}

.markdown {
  .theme-code-block {
    box-shadow: none;
    border: 1px solid var(--ifm-color-info-dark);
    border-radius: 6px;

    .clean-btn {
      border: 0;
      background: none;
    }
  }

  pre code {
    background-color: var(--ifm-background-secondary);
    -webkit-text-size-adjust: 100%;
  }
}

@include dark-mode {
  .theme-code-block {
    box-shadow: none;
    border: inherit;
  }

  pre code {
    background-color: var(--ifm-background-secondary);
  }
}
