.markdown {
  .hash-link {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 0.6687rem;
      height: 0.6687rem;
      margin-left: 5px;
      background: no-repeat center url(#{$icons-path}/link.svg);
    }
  }
}
