.table-of-contents {
  --ifm-toc-link-color: #6a716e;
  --ifm-toc-link-color-active: #0c6d62;
  padding: 0 0 0 3px;
  margin-top: 8px;

  &__link {
    color: var(--ifm-toc-link-color);
    font-size: 0.8125rem;
    line-height: 1rem;
    padding: 0.5rem;

    &--active {
      color: var(--ifm-toc-link-color-active);

      &:before {
        @include large {
          content: '';
          position: absolute;
          top: 0;
          left: -4px;
          width: 1px;
          height: 100%;
          background: var(--ifm-toc-link-color-active);
        }
      }
    }
  }

  li {
    position: relative;
    margin: 0;

    ul li a:before {
      left: -12px;
    }
  }
}

.theme-doc-toc-desktop {
  &:before {
    @include large {
      content: 'CONTENT';
      font-size: 0.6875rem;
      font-weight: 500;
      letter-spacing: 0.3px;
      color: var(--ifm-color-primary);
      padding-left: 4px;
    }
  }
}

@include dark-mode {
  .table-of-contents {
    &__link {
      color: var(--ifm-color-white);

      &--active {
        color: var(--ifm-color-primary);

        &:before {
          @include large {
            background: var(--ifm-color-white);
          }
        }
      }
    }
  }
}
