.codePackage {
  border-radius: var(--ifm-global-radius);
  background-color: var(--ifm-color-secondary);
  display: flex;
  flex-direction: row;
  padding: var(--ifm-alert-padding-vertical) var(--ifm-alert-padding-horizontal);
  border: 1px solid #bbb;
  color: var(--ifm-text-color);
}

.codePackage svg,
.codePackage span {
  display: flex;
  align-self: center;
  font-size: 1.1rem;
  margin-right: 0.2rem;
  text-align: center;
}

.packageName {
  margin-left: 0.6rem;
  font-weight: bold;
  font-family: var(--ifm-font-family-monospace);
}