.plans {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10
}

.plan {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, .1);
  border: 1px solid #dcdcfc;
  margin: 0 10px 20px;
  position: relative;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 966px) {
  .plan {
     max-width: 380px;
  }
}

.popularPlan {
  background: #ebecfb;
  border-color: #d5d5d6;
}

.flag {
  position: absolute;
  overflow: hidden;
  top: -2px;
  right: -2px;
  width: 150px;
  height: 150px;
}

.flagText {
  color: white;
  text-transform: uppercase;
  font-size: .8rem;
  background: #7d9a2e;
  padding: 5px 10px;
  text-align: center;
  display: block;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  position: absolute;
  left: -15px;
  width: 250px;
  top: 15px;
  transform: rotate(35deg);
}

.planTitle {
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
}

.planFeatures {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #dcdcfc;
}

.planFeature {
  display: flex;
  align-items: center;
  margin: 0 0 .5rem;
  padding: .5rem 0;
  border-bottom: 1px solid #dcdcfc;
}

.tick {
  margin-right: 5px;
}

.environments {
  border: none;
  text-align: center;
}

.environmentsCell {
  border: none;
  font-size: .8rem;
  position: relative;
}

.environmentsRow {
  border: none;
}

.environmentsName {
  text-align: right;
  font-weight: 600;
}

.environmentsHeading {
  font-size: .7rem;
  font-weight: 300;
  border: none;
}

.environmentCount {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  text-align: center;
  background: #f6f7f9;
  color: #545df6;
  line-height: 1.1em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.environmentCountHighlighted {
  background: #545df6;
  color: white;
}

.environmentCount__amount {
  font-size: 1rem;
}

.environmentCount__text {
  font-size: .6rem;
  text-transform: uppercase;
}

.price {
  margin-top: auto;
  padding-top: 2rem;
  text-align: center;
}

.priceAmount {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0;
}

.priceNote {
  margin: 0;
}
