/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem;
  text-align: center;
  position: relative;
  overflow: hidden;

}

@media screen and (min-width: 966px) {
  .heroBanner {
    padding: 6rem 0;
  }
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 200px;
  width: 200px;
}

.about {
  padding: 2rem;
  background: white;
  color: black;
}

@media screen and (min-width: 966px) {
  .about {
    padding: 4rem 0;
  }
}

.aboutContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.aboutColumn {
  width: 100%;
}

@media screen and (min-width: 966px) {
  .aboutColumn {
    width: 50%;
  }
}

.aboutImg {
  width: 70%;
  max-width: 500px;
  height: auto;
  margin: 0 auto;
  display: block;
}

.architectureContainer {
  background: white;
  padding: 4rem;
  color: black;
}

.infoBanner {
  background: whitesmoke;
  padding: 2rem 0;
  width: 100%;
  color: black;
}

.infoBanner__content {
  text-align: center;
}
