/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 1rem;
  text-align: center;
  position: relative;
}

@media screen and (min-width: 966px) {
  .heroBanner {
    padding: 6rem 0;
  }
}

.heroSearch {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  position: relative;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 200px;
  width: 200px;
}

.about {
  padding: 2rem 1rem;
  background: white;
  color: black;
}

.aboutDark {
  background: var(--ifm-table-stripe-background);
  color: var(--ifm-font-base-color);
}

@media screen and (min-width: 966px) {
  .about {
    padding: 4rem 0;
  }
}

.aboutContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.aboutColumn {
  width: 100%;
}

@media screen and (min-width: 966px) {
  .aboutColumn {
    width: 50%;
  }
}

.padded {
  padding: 1rem;
}

.aboutImg {
  width: 70%;
  max-width: 500px;
  height: auto;
  margin: 0 auto;
  display: block;
}


.aboutBlock {
  border-radius: 5px;
  width: 100%;
  padding: 1rem;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
  background: var(--ifm-navbar-background-color);
}

.aboutBlock li {
  margin-bottom: .5rem;
}

.architectureContainer {
  background: white;
  padding: 4rem;
  color: black;
}

.infoBanner {
  background: whitesmoke;
  padding: 2rem 0;
  width: 100%;
  color: black;
}

.infoBanner__content {
  text-align: center;
}

.comparison {
  text-align: center;
  background-color: var(--ifm-background-color);
  padding: 4rem 1rem;
}

.comparison table {
  margin: 0 auto 20px;
  width: auto;
  display: inline-block;
  text-align: left;
  background: var(--ifm-navbar-background-color);
}
