@use '../../css/variables' as v;

/*
Hide toggle in small viewports
 */
@media (max-width: 996px) {
  .toggle {
    display: none;
  }
}

.navbar {
  @include v.min-md {
    background: linear-gradient(
      90deg,
      var(--ifm-color-background-grey) 18.75rem,
      var(--ifm-color-background-navbar) 0%
    );
  }
}

.navbarHideable {
  transition: transform var(--ifm-transition-fast) ease;
}

.navbarHidden {
  transform: translate3d(0, calc(-100% - 2px), 0);
}

.navbarSidebarToggle {
  margin-right: 1rem;
}

.button {
  margin-left: 1.5rem;

  &:last-child {
    padding-right: 1rem;
  }
}

.logoContainer {
  display: none;
  margin-right: 13rem;

  @include v.min-md {
    display: block;
  }
}

.logoImage {
  width: 6rem;
  height: auto;
}

.sidebar {
  .menuLink_src-theme-DocSidebarItem-styles-module {
    color: var(--ifm-sidebar-menu-link-color);
    margin: 0;
    display: flex;
    align-items: center;

    &:hover {
      background: none;
      text-decoration: none;
    }

    &.menuLinkSublist {
      font-size: 1rem;
      line-height: 1rem;
      font-weight: normal;
      font-weight: bold;
      padding: 0.5rem 0 0.5rem 2.1rem;
    }

    & svg {
      width: 1rem;
      height: auto;
      margin-right: 0.75rem;
      margin-left: -1.34rem;

      path {
        fill: currentColor;
      }
    }
  }

  .menuLinkActive {
    color: var(--ifm-color-primary);
  }

  .menuList {
    list-style-type: none;
    padding-left: 2.5rem;
    padding-bottom: 0.25rem;

    ul {
      padding: 0.15rem 0 0.25rem 1.5rem;
    }

    .menuListItemCollapsible {
      margin: 0;

      .menuLink {
        padding: 0;
      }
    }

    .menuLink {
      font-weight: normal;
      font-size: 0.8125rem;
      line-height: 1.25rem;
      padding: 0.1rem 0;

      @include v.min-md {
        font-size: 0.9rem;
        line-height: 1.3rem;
        padding: 0.15rem 0;
      }
    }
  }

  .menuListItem {
    line-height: 1.25rem;
  }

  .menuListItemCollapsible {
    margin: 0;
  }
}
