.small {
  font-size: 0.625rem;
  line-height: 0.75625rem;
  color: #8e8e8e;
  margin: 0;
}

.titleContainer {
  width: calc(100% - 3rem);
}

.title {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.36125rem;
  margin: 0 0 2.5rem;
}

.checkbox {
  margin: 0 0 1rem;
}

.bottomControls {
  display: flex;
  justify-content: flex-end;
  padding-top: 2rem;

  > a {
    margin-left: 1rem;
  }
}
