/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #26642C;
  --ifm-color-purple: #545df6;
  --ifm-footer-background-color: #262828;
  --ifm-hero-text-color: #ffffff;
  --ifm-button-background-color: #26642C;
  --ifm-button-border-color: #26642C;
  --ifm-button-padding-vertical: 1rem;
  --ifm-background-secondary: whitesmoke;
  --ifm-font-size-sm: .8rem;
  --ifm-font-size-xs: .6rem;
  --ifm-table-background: white;
  --ifm-table-border-color: whitesmoke;
  --ifm-table-background-highlight: #ebecfb;
  --ifm-table-border-color-highlight: #dcdcfc;
}

html[data-theme="dark"] {
    --ifm-navbar-background-color:  #262828;
    --ifm-background-secondary: #262828;
    --ifm-color-purple: #7f86f4;
    --ra-color-note: #262828;
    --ifm-background-color: #1a1720;
    --ra-color-text-dark: #000000;
    --ifm-color-primary: #aac957;
    --ra-admonition-icon-color: #262828;
    --ifm-button-color: #ffffff;
    --ifm-text-color: #ffffff;
    --ifm-table-background: #1a1720;
    --ifm-table-border-color: var(--ifm-color-emphasis-200);
    --ifm-table-background-highlight: #2d2459;
    --ifm-table-border-color-highlight: #524691;
}

.footer.footer--dark {
  --ifm-footer-background-color: #262828;
}

.button:hover,
.button:focus {
  background: var(--ifm-color-primary);
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme="dark"] .pricePlan--highlight {
  background: #2b3077;
}


.codeBlock {
  border-radius: var(--ifm-pre-border-radius);
  float: left;
  min-width: 100%;
  padding: var(--ifm-pre-padding);
  font-family: var(--ifm-font-family-monospace);
  color: rgb(191, 199, 213);
  background-color: rgb(41, 45, 62);
  font-size: var(--ifm-code-font-size);
  line-height: var(--ifm-pre-line-height);
}

.codeBlock a {
  color: inherit;
}

button.copyButton_node_modules-\@docusaurus-theme-classic-src-theme-CodeBlock- {
  color: white;
}

/* -- Header --*/

.navbar__title {
  font-size: .7rem;
}

@media screen and (min-width: 996px) {
  .navbar .navbar__items {
    flex: 25%;
  }
  .navbar .navbar__items.navbar__items--right {
    flex: 75%;
  }

  .navbar__link {
    font-size: .9rem;
  }

  .navbar__title {
    font-size: .9rem;
  }
}

@media (max-width: 996px) {
  .navbar__search-input {
      width: 6rem;
      padding-left: 32px;
  }
}

/* -- Footer -- */

.footer__item {
  margin-bottom: .5rem;
}

/* -- Home -- */

.hero {
  padding: 0;
}

@media screen and (min-width: 996px) {
  .hero {
    padding: 4rem 0;
  }
}

.hero.hero--theme {
  background-image: linear-gradient(195deg, rgb(16, 9, 46) 20%, rgb(77, 64, 146));
  background-color: rgb(45, 36, 89);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  position: relative;
}

.hero-background {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.hero .container {
  z-index: 2;
  position: relative;
} 
