.navbar {
  --ifm-dropdown-hover-background-color: none;
  border-bottom: 1px solid rgba(0, 56, 37, 0.05);
  box-shadow: 0px 0px 12px rgba(0, 101, 133, 0.05);

  .dropdown__menu {
    width: 240px;

    hr {
      background-color: rgba(2, 44, 15, 0.08);
      margin: 0.2rem 0;
    }

    .disabled {
      color: rgba(0, 15, 9, 0.46);
    }

    .soon:after {
      content: 'soon!';
      padding: 2px 4px;
      color: #6e56cf;
      background: rgba(46, 2, 242, 0.09);
      border-radius: 6px;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      margin-left: auto;
    }

    .number:after {
      content: '15'; // todo change to custom prop
      padding: 2px 4px;
      color: #12a594;
      background: rgba(2, 177, 142, 0.15);
      border-radius: 6px;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      margin-left: auto;
    }
  }

  &__search-input {
    width: 6rem;
    padding-left: 32px;
  }

  &__logo {
    display: flex;
    align-items: center;

    img {
      height: 26px;
    }
  }

  &__brand {
    margin-left: auto;
    margin-right: auto;
    @include large {
      margin-left: initial;
      margin-right: 1rem;
    }
  }

  &__logo {
    margin-right: 0;
    @include medium {
      margin-right: 0.5rem;
    }
  }

  &__toggle {
    width: 15px;
    height: 15px;
    margin-right: 0;

    svg {
      width: 15px;
      height: 15px;
    }
  }

  @include large {
    .dropdown {
      &:hover {
        background: var(--ifm-navbar-link-background-hover);
        border-radius: 10px;
        color: inherit;
      }

      .navbar__link:hover {
        background: none;
      }
    }

    &__brand {
      margin-right: auto;
    }

    &__item:last-child {
      margin-right: auto;
    }

    &__link {
      display: flex;
      font-size: 0.9rem;
      font-weight: 400;
      letter-spacing: -0.01em;

      &:hover {
        background: var(--ifm-navbar-link-background-hover);
        border-radius: 10px;
        color: inherit;
      }
    }

    &__items {
      flex: 100;
    }

    &__items.navbar__items--right {
      flex: auto;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }
}

.dropdown > .navbar__link:after {
  width: 0.9375rem;
  height: 0.9375rem;
  border: 0;
  background: url(#{$icons-path}/chevron-down.svg);
  transform: none;
  top: 2px;
  margin-left: 6px;
}

.dropdown__link {
  display: flex;
  align-items: center;
  padding: 0.43rem 0.5rem;
  font-size: 15px;
  font-weight: 400;

  &--active,
  &:hover {
    color: var(--ifm-color-primary);
  }
}

@include dark-mode {
  .dropdown > .navbar__link:after {
    filter: invert(1);
  }
}
