.menu {
  --ifm-menu-color-background-hover: none;
  --ifm-menu-color-background-active: rgba(2, 192, 151, 0.095);
  --ifm-hr-background-color: #dfe4e2;
  --ifm-hr-margin-horizontal: 4px;
  background: var(--ifm-menu-background-color);

  .gray-link {
    a {
      display: flex;
      justify-content: space-between;
      color: #6a716e;
    }

    svg {
      color: #000;
    }
  }

  &__list {
    .menu__list {
      padding: 0 0 18px;
    }

    .menu__list-item-collapsible {
      &:hover {
        background: none;
      }
    }

    // the first title in the sidebar is bigger and sticky to the top
    .theme-doc-sidebar-item-category:first-child .menu__list-item-collapsible {
      .menu__link {
        font-size: 17px;
        text-transform: none;
        letter-spacing: -0.02em;
        line-height: 1.3em;
        border-bottom: 1px solid rgba(0, 56, 37, 0.05);
        margin: 0 0px 15px;
        padding-bottom: 14px;
        color: var(--ifm-menu-color);
      }
    }
    .theme-doc-sidebar-item-category.icon .menu__list-item-collapsible {
      .menu__link {
        background: no-repeat 12px 4px !important;
        padding-left: 42px;
      }
    }
    .theme-doc-sidebar-item-category.platform .menu__list-item-collapsible {
      .menu__link {
        background-image: url("../../static/img/icons/platform.svg") !important;
      }
    }
    .theme-doc-sidebar-item-category.composer .menu__list-item-collapsible {
      .menu__link {
        background-image: url("../../static/img/icons/composer.svg") !important;
      }
    }
    .theme-doc-sidebar-item-category.storefront .menu__list-item-collapsible {
      .menu__link {
        background-image: url("../../static/img/icons/storefront.svg") !important;
      }
    }
    .theme-doc-sidebar-item-category.payments .menu__list-item-collapsible {
      .menu__link {
        background-image: url("../../static/img/icons/payments.svg") !important;
      }
    }
    .theme-doc-sidebar-item-category.console .menu__list-item-collapsible {
      .menu__link {
        background-image: url("../../static/img/icons/console.svg") !important;
      }
    }
    .theme-doc-sidebar-item-category.integrations .menu__list-item-collapsible {
      .menu__link {
        background-image: url("../../static/img/icons/integrations.svg") !important;
      }
    }
    .theme-doc-sidebar-item-category.orchestrator .menu__list-item-collapsible {
      .menu__link {
        background-image: url("../../static/img/icons/orchestrator.svg") !important;
      }
    }
    .theme-doc-sidebar-item-category.resources .menu__list-item-collapsible {
      .menu__link {
        background-image: url("../../static/img/icons/resources.svg") !important;
      }
    }


  }

  &__link:hover,
  &__caret:hover {
    color: var(--ifm-color-primary);
  }
  .menu__caret:before {
    background: var(--ifm-menu-link-sublist-icon) 50% / 1rem 1rem;
  }
  .menu__link--active:not(.menu__link--sublist) {
    color: var(--ifm-color-secondary);
  }

  .menu__link--active:not(.menu__link--sublist) {
    color: var(--ifm-color-primary);
  }

  &__list-item-collapsible .menu__link {
    color: var(--ifm-color-primary);
    text-transform: uppercase;
    font-size: 0.6875rem;
    letter-spacing: 0.03em;
    font-weight: 500;
    line-height: 1rem;

    &--active:not(.menu__link--sublist) {
      color: var(--ifm-color-primary);
      text-transform: uppercase;
      font-size: 0.6875rem;
      letter-spacing: 0.03em;
      font-weight: 500;
      line-height: 1rem;
    }
  }

  &__link {
    font-size: var(--ifm-menu-font-size);
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.01em;
    border-radius: 4px;

    &--disabled {
      color: rgba(0, 15, 9, 0.46);

      &:hover {
        color: rgba(0, 15, 9, 0.46);
      }
    }

    @include large {
      line-height: 20px;

      &:after {
        display: none;
      }
    }
  }
}

@include dark-mode {
  .menu {
    background: inherit;

    .gray-link svg {
      color: #fff;
    }

    &__link {
      color: var(--ifm-color-white);

      &[href]:hover {
        color: var(--ifm-link-color);

        svg {
          color: inherit;
        }
      }

      &--active:not(.menu__link--sublist) {
        svg {
          color: var(--ifm-link-color);
        }
      }

      &--disabled {
        color: #d7dcda;

        svg,
        &:hover {
          color: #d7dcda;
        }
      }
    }
  }
}
