.menu {
  --ifm-menu-color-background-hover: none;
  --ifm-menu-color-background-active: rgba(2, 192, 151, 0.095);
  --ifm-hr-background-color: #dfe4e2;
  --ifm-hr-margin-horizontal: 4px;
  background: var(--ifm-menu-background-color);

  .soon a:after {
    display: block;
    content: 'Soon!';
    color: rgba(0, 15, 9, 0.46);
    font-weight: 400;
    font-size: 11px;
    line-height: 1.5em;
    margin-left: auto;
  }

  .gray-link {
    a {
      display: flex;
      justify-content: space-between;
      color: #6a716e;
    }

    svg {
      color: #000;
    }
  }

  &__list {
    .menu__list {
      padding: 0 0 18px;
    }

    .menu__list-item-collapsible {
      &:hover {
        background: none;
      }
    }

    // the first title in the sidebar is bigger and sticky to the top
    .theme-doc-sidebar-item-category:first-child .menu__list-item-collapsible {
      .menu__link {
        font-size: 17px;
        text-transform: none;
        letter-spacing: -0.02em;
        line-height: 1.3em;
        border-bottom: 1px solid rgba(0, 56, 37, 0.05);
        margin: 0 4px 15px;
        padding-bottom: 14px;
      }
    }
  }

  &__link:hover,
  &__caret:hover {
    color: var(--ifm-color-primary);
  }

  .menu__link--active:not(.menu__link--sublist) {
    color: var(--ifm-color-secondary);
  }

  .menu__link--active:not(.menu__link--sublist) {
    color: var(--ifm-color-primary);
  }

  &__list-item-collapsible .menu__link {
    color: var(--ifm-color-primary);
    text-transform: uppercase;
    font-size: 0.6875rem;
    letter-spacing: 0.03em;
    font-weight: 500;
    line-height: 1rem;

    &--active:not(.menu__link--sublist) {
      color: var(--ifm-color-primary);
      text-transform: uppercase;
      font-size: 0.6875rem;
      letter-spacing: 0.03em;
      font-weight: 500;
      line-height: 1rem;
    }
  }

  &__link {
    font-size: var(--ifm-menu-font-size);
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.01em;
    border-radius: 4px;

    &--disabled {
      color: rgba(0, 15, 9, 0.46);

      &:hover {
        color: rgba(0, 15, 9, 0.46);
      }
    }

    @include large {
      line-height: 20px;

      &:after {
        display: none;
      }
    }
  }
}

@include dark-mode {
  .menu {
    background: inherit;

    .soon a:after {
      color: #d7dcda;
    }

    .gray-link svg {
      color: #fff;
    }

    &__link {
      color: var(--ifm-color-white);

      &:hover {
        color: var(--ifm-link-color);

        svg {
          color: inherit;
        }
      }

      &--active:not(.menu__link--sublist) {
        svg {
          color: var(--ifm-link-color);
        }
      }

      &--disabled {
        color: #d7dcda;

        svg,
        &:hover {
          color: #d7dcda;
        }
      }
    }
  }
}
