h1,
h2,
h3,
h4 {
  letter-spacing: -0.01em;
  line-height: 1.3em;
  font-weight: 500;
  font-style: normal;
}

.markdown {
  h1:first-child {
    --ifm-h1-font-size: 2.3125rem;
    margin-top: 1rem;
  }

  & > h1 {
    --ifm-h2-font-size: 1.75rem;
  }

  & > h2 {
    --ifm-h2-font-size: 1.5rem;
  }

  & > h3 {
    --ifm-h2-font-size: 1.25rem;
  }

  p {
    font-size: 1.0625rem;
    color: var(--ifm-p-color);
    line-height: 1.75rem;
  }
}
