@use '../../css/variables' as v;

.pageContainer {
  width: 100%;
  display: flex;

  .sidebar {
    > div {
      padding-top: 0;
    }

    nav {
      padding-top: 5rem;
    }

    ul li a {
      font-size: 1rem;
      line-height: 1rem;
      font-weight: normal;
      font-weight: bold;
      padding: 0.5rem 0 0.5rem 2.1rem;

      svg {
        display: none;
      }
    }

    ul li ul {
      padding: 0.1rem 0 0 2rem;

      li {
        padding: 0.1rem 0;
      }

      a {
        font-size: 0.8rem;
        line-height: 1rem;
        font-weight: normal;
        padding: 0;
      }
    }
  }

  .content {
    margin: 0 auto;

    @media (min-width: 1500px) {
      padding-right: var(--ifm-sidebar-width);
    }
  }
}

.productsCategory {
  padding-top: 3.125rem;
  cursor: default;
}

.logoContainer {
  display: none;
  margin-right: 13rem;

  @include v.min-md {
    display: block;
  }
}

.logoImage {
  width: 6rem;
  height: auto;
}
