.example {
  width: 100%;
  margin: 0 0 20px;
  padding: 0 0 20px;
  border-bottom: 1px solid var(--ifm-contents-border-color);
  display: flex;
  flex-wrap: wrap;
}

.image {
  flex-basis: 100%;
  margin: 0 0 20px;
}

@media screen and (min-width: 700px) {
  .image {
    flex-basis: 40%;
    margin: 0;
  }
}

.content {
  flex-basis: 100%;
}

@media screen and (min-width: 700px) {
  .content {
    flex-basis: 60%;
    padding-left: 20px;
  }
}
