.count {
  padding: 2px 4px;
  color: #12a594;
  background: rgba(2, 177, 142, 0.15);
  border-radius: 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin-left: auto;
}

.disabled {
  color: rgba(0, 15, 9, 0.46);
}

.soon {
  padding: 2px 4px;
  color: #d7dcda;
  border-radius: 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin-left: auto;
  text-transform: capitalize;
}

.label {
  padding: 2px 4px;
  color: #6e56cf;
  background: rgba(46, 2, 242, 0.09);
  border-radius: 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin-left: auto;
  text-transform: capitalize;
}
