.answer__closed {
  display: none;
}

.accordion {
  border-bottom: 1px solid var(--ifm-color-emphasis-200);

  .question {
    width: 100%;
    border: none;
    background: none;
    box-shadow: none;
    text-align: left;
    font-size: var(--ifm-h4-font-size);
    padding: 1rem 0.5rem;
    font-weight: var(--ifm-font-weight-bold);
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;

    &:after {
      background-image: var(--ifm-menu-link-sublist-icon);
      background-size: 2rem 2rem;
      width: 2rem;
      height: 2rem;
      margin-left: auto;
      display: block;
      background-position: center;
      background-repeat: no-repeat;
      content: '';
      transform: rotate(180deg);
    }

    &:hover {
      background: var(--ifm-background-secondary);
    }
  }

  .answer {
    padding: 1rem 0.5rem;
  }
}

.accordionSmall {
  .buttonContainer {
    display: flex;
    align-items: center;
  }

  .question {
    font-size: 0.625rem;
    font-weight: 500;
    line-height: 1rem;
    text-align: left;
    color: var(--ifm-accordion-small-color);
    background: none;
    border: 0;
    padding: 0;
    margin-left: 0.5rem;
    cursor: pointer;

    & .arrowSmall {
      transform: rotate(0);
      margin-right: 0.5rem;

      path {
        fill: var(--ifm-accordion-small-color);
      }
    }

    &:hover {
      color: var(--ifm-accordion-small-color-hover);

      path {
        fill: var(--ifm-accordion-small-color-hover);
      }
    }
  }

  .question__open {
    &.question {
      color: var(--ifm-accordion-small-color-hover);
    }

    & .arrowSmall {
      transform: rotate(180deg);
    }
  }

  .answer {
    padding: 0.75rem 1.25rem;
    font-size: 0.75rem;
    line-height: 0.9rem;
  }
}
